# Rust artifacts
target/

# Node artifacts
build/
prebuilds/
node_modules/

# Swift artifacts
.build/

# Go artifacts
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip


.cache
.editorconfig
.gitattributes
.github/
.lsp-session-v1
.python-environments/
ac-comphist.dat
anaconda-mode/
auto-save-list/
bindings/
bookmarks
eln-cache/
elpa/
emojis/
examples/
history
mason/
projectile-bookmarks.eld
projects
queries/
ion.*
session.*
src/
test/
tests/
tramp
treesitter/
recentf



    